<body>

<%= render 'headfoot/header' %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="col-xs-2"></div>
      <div class=" container signup-container">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="row signup-table">
            <div class="col-xs-3">氏名</div>
              <div>
                <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname", class: "col-xs-2 form signup_name", :placeholder => "山田" %>
                <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", class: "col-xs-2 form", :placeholder => "太郎" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-3">カナ氏名</div>
              <div>
                <%= f.text_field :lastkana, autofocus: true, autocomplete: "lastkana", class: "col-xs-2 form signup_name", :placeholder => "ヤマダ" %>
                <%= f.text_field :firstkana, autofocus: true, autocomplete: "firstkana", class: "col-xs-2 form", :placeholder => "タロウ" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-3">郵便番号<br>( - は含めず)</div>
              <div>
                <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "col-xs-3 form", :placeholder => "000000 ( - は含めず)" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-3">住所</div>
              <div>
                <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "col-xs-6 form", :placeholder => "東京都東京区東京1-2-3-4-500..." %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-3">電話番号</div>
              <div>
                <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: "col-xs-4 form", :placeholder => "00012345678" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-3">メールアドレス</div>
              <div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-xs-6 form", :placeholder => "yamada.tarou@exe.com" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-3">パスワード</div>
              <div>
                <%= f.password_field :password, autocomplete: "new-password", class: "col-xs-5 form", :placeholder => "半角6文字以上" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-3">パスワード（確認用)</div>
              <div>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-xs-5 form" %>
              </div>
          </div>
      </div>
    <div class="col-xs-4"></div>
    <%= f.submit "上記内容で登録する", class: "btn btn-lg btn-default col-xs-4 submit-btn" %>
<% end %>
<%= render 'headfoot/footer' %>

</body>