<body>

<%= render 'headfoot/header' %>

<h1>ジャンル　編集画面・更新</h1>

<%= form_for(@genre, url: admins_genre_path) do |f| %>

  <p>ジャンル作成</p>
  <%= f.text_field :genre_name %>

  <%= f.radio_button :genre_status, :有効 %>
  <%= f.label :genre_status, "有効" %>
  <%= f.radio_button :genre_status, :無効 %>
  <%= f.label :genre_status, "無効" %>

  <br><%= f.submit 'Update Genre' %></br>
<% end %>

<%= render 'headfoot/footer' %>

</body>