<%= render 'headfoot/header' %>

<h1>ジャンル　一覧・新規作成・編集遷移</h1>

<h2>ジャンル新規作成</h2>
<%= form_for(@newgenre, url: admins_genres_path) do |f| %>

  <p>ジャンル作成</p>
  <%= f.text_field :genre_name %>

  <%= f.radio_button :genre_status, :on %>
  <%= f.label :gender, "有効", {value: :on, style: "display: inline-block;"} %>
  <%= f.radio_button :genre_status, :off %>
  <%= f.label :gender, "無効", {value: :off, style: "display: inline-block;"} %>

  <br><%= f.submit 'Create Check Memo' %></br>
<% end %>

<h2>ジャンル一覧</h2>

<table class="table">
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td></td>
        <td>
          <%= genre.genre_name %>
        </td>
        <td>¥
          <%= genre.genre_status %>
        </td>
        <td>
          編集する
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= render 'headfoot/footer' %>