<body>

<%= render 'headfoot/header' %>
<div class="container">
  <div class="row">
    <h2>ショッピングカート</h2>
    <div class="col-xs-9"></div>
      <div>
        <%= link_to "カートを空にする", customers_all_destroy_path, method: :delete, class: "btn btn-primary col-xs-3" %>
      </div>
    <!-- カート内容 -->
    <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
         <% @carts.each do |cart| %>
          <tr>
            <td>
              <%= attachment_image_tag cart.product, :product_image, :fill, 50, 50, fallback:"No-Image-Available.png",size: :"50x50" %>
              <%= cart.product.product_name %>
            </td>
            <td><%= (cart.product.non_tax * @tax).floor %></td>
            <td>
              <%= form_for cart, url: customers_cart_path(cart) do |f| %>
                <%= f.number_field :item_count %>
                <%= f.submit 'Create Memo' %>
              <% end %>
            </td>
            <td><%= (cart.product.non_tax * @tax * cart.item_count).floor %></td>
            <td><%= link_to "削除する", customers_cart_path(cart), method: :delete %></td>
          </tr>
         <% end %>
      </tbody>
    </table>
  </div>
      <!-- orderボタン　＋　商品一覧リンク　＋　合計金額 -->
  <div class="row">
      <div class="col-xs-6"></div>
      <table class="table-bordered col-xs-6">
        <tr>
          <th class="col-xs-1">合計金額</th>
          <td class="col-xs-1">
              <% sum = 0 %>
              <% @carts.each do |cart| %>
              <% sub_total = (cart.product.non_tax * @tax * cart.item_count).floor %>
              <% sum += sub_total %>
              <% end %>
              <%= sum %>
           </td>
        </tr>
      </table>
  </div>
  <br>
  <div class="row">
      <div class="col-xs-6"></div>
      <div>
        <%= link_to "買い物を続ける", '/products' , class: "btn btn-primary col-xs-3" %>
        <%= link_to "注文する", new_customers_order_path(@customer), class: "btn btn-primary col-xs-3" %>
      </div>
  </div>

</div>
<%= render 'headfoot/footer' %>

</body>