<%= render 'headfoot/header' %>
    <div class="col-xs-12">
      <h3>会員編集画面</h3>
    </div>
      <div class=" container signup-container">
    <%= form_for(@customer) do |f| %>
          <div class="row signup-table">
            <div class="col-xs-2">会員ID</div>
              <div>
                <%= @customer.id %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-2">氏名</div>
              <div>
                <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname", class: "col-xs-2 form signup_name" %>
                <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", class: "col-xs-2 form" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-2">カナ氏名</div>
              <div>
                <%= f.text_field :lastkana, autofocus: true, autocomplete: "lastkana", class: "col-xs-2 form signup_name" %>
                <%= f.text_field :firstkana, autofocus: true, autocomplete: "firstkana", class: "col-xs-2 form" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-2">郵便番号<br>( - は含めず)</div>
              <div>
                <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "col-xs-3 form" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-2">住所</div>
              <div>
                <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "col-xs-6 form" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-2">電話番号</div>
              <div>
                <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: "col-xs-4 form" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-2">メールアドレス</div>
              <div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-xs-6 form" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-2">パスワード</div>
              <div>
                <%= f.password_field :password, autocomplete: "new-password", class: "col-xs-5 form" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-2">パスワード（確認用)</div>
              <div>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-xs-5 form" %>
              </div>
          </div>
          <div class="row signup-table">
            <div class="col-xs-2"><%= f.label :会員ステータス %></div>
              <div class="col-xs-5 form">
                <%= f.radio_button :customer_status, :有効, class: "col-xs-1"  %>
                <%= f.label :"有効", class: "col-lg-2"  %>
                <%= f.radio_button :customer_status, :無効, class: "col-xs-1"  %>
                <%= f.label :"退会済み", class: "col-lg-3" %>
              </div>
          </div>
      </div>
    <div class="col-xs-1"></div>
</div>
    <%= f.submit "変更を保存する", class: "btn btn-primary col-xs-1 submit-btn" %>
<% end %>
<%= render 'headfoot/footer' %>

