	<%= render 'headfoot/header' %>
<div class="container">
	<div class="row mypage-header">
		<h4 class="col-xs-12 mypage-header-box">マイページ</h4>
		<h4 class="col-xs-2">登録情報</h4>
		<!-- <a class="btn btn-primary" href="/customers/edit" role="button">編集する</a> -->
		<%= link_to "編集する", edit_customer_registration_path, class: "btn btn-primary" %>
		<%= link_to "パスワードを変更する", customers_pass_path, data: {"turbolinks" => false}, class: "btn btn-primary" %>
	</div>
	<div class="row mypage-table">
		<table class="table-bordered col-xs-6">
			  <tr>
			    <th class="col-xs-1 customer-box">氏名</th>
			    <td class="col-lg-1"><%= current_customer.lastname %>
			    	<%= current_customer.firstname %>
		    	</td>
			  </tr>
			  <tr>
			    <th class="col-xs-1 customer-box">カナ</th>
			    <td class="col-lg-1" >
			    	<%= current_customer.lastkana %>
			    	<%= current_customer.firstkana %>
			    </td>
			  </tr>
			  <tr>
			    <th class="col-xs-1 customer-box">郵便番号</th>
			    <td class="col-lg-1">〒<%= current_customer.postal_code %></td>
			  </tr>
			  <tr>
			    <th class="col-xs-1 customer-box">住所</th>
			    <td class="col-lg-1" ><%= current_customer.address %></td>
			  </tr>
			  <tr>
			    <th class="col-xs-1 customer-box">電話番号</th>
			    <td class="col-lg-1" ><%= current_customer.telephone_number %></td>
			  </tr>
			  <tr >
			    <th class="col-xs-1 customer-box">メールアドレス</th>
			    <td class="col-lg-1" ><%= current_customer.email %></td>
			  </tr>
		</table>
	</div>
	<div class="row mypage-box">
		<h4 class="col-xs-2">配送先</h4>
		<!-- <a class="btn btn-primary col-xs-2" href="/customers/deliveries" role="button">一覧を見る</a> -->
		<%= link_to "一覧を見る", customer_deliveries_path(@customer), class: "btn btn-primary" %>
	</div>
	<div class="row">
		<h4 class="col-xs-2">注文履歴</h4>
		<a class="btn btn-primary col-xs-2" href="/customers/orders"  role="button">一覧を見る</a>
	</div>
</div>
	<%= render 'headfoot/footer' %>