
<div id="head-pic">
   <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
   </div>
 </div>

<%= render 'headfoot/header' %>
<%= render 'headfoot/sidebar' %>

<body>

<div class="container itemdetails">
	<div class="row">
		<div class="col-xs-3">
 <td><%= attachment_image_tag @product, :product_image, :fill, 400, 300, fallback:"No-Image-Available.png",size: :"400x300" %></td>
     </div>
   <div class="description col-xs-9">
       <p class="itemname"><%= @product.product_name %></p>
       <p class="itemdescription"><%= @product.product_description %></p>
       
        <p class="itemprice">価格（税込み）<%= (@product.non_tax * @tax).floor %>円</p>
    </div>
</div>
  <div class="row">
    <%= form_for @addcart, url: customers_carts_path do |f| %>
      <%= f.select :item_count, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], {include_blank: '選択ボックス'} %>
      <%= f.hidden_field :product_id, :value => @product.id %>
      <%= f.submit  'カートに追加' %>
    <% end %>
  </div>
</div>
</body>
<%= render 'headfoot/footer' %>
